* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Comfortaa', cursive;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dad8d8;
}
form {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    padding: 25px 10px;
}
.title {
    text-align: center;
}
label {
    margin: 20px 0 5px;
    padding-left: 5px;
}
input {
    font-family: 'Comfortaa', cursive;
    padding: 5px;
    border: unset;
    border-bottom: 2px solid grey;
    border-radius: 3px;
    background-color: rgb(240, 240, 240);
}
.controls {
    width: 100%;
    display: flex;
    justify-content: center;
}
button {
    font-family: 'Comfortaa', cursive;
    margin-top: 20px;
    padding: 5px 20px 4px;
    border-radius: 5px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile p {
    margin-top: 10px;
}

.profile a {
    margin-top: 10px;
    font-weight: bold;
    color: #b14c4c;
    text-decoration: none;
}

.profile h2 {
    margin-top: 20px;
    text-align: center;    
}

.messages {
    margin: 10px 0;
    display: flex;
}

.messages h3 {
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 3px;
}

.messages div {
    width: 300px;
    margin: 0 10px
}